<% if cities.any? %>
  <div>
    <label for="city_select" class="block text-md font-semibold text-indigo-600">
      City<span class="text-md text-red-600">*</span>
    </label>
    <select name="city" id="city_select" 
           class="mt-1 block w-full px-2 py-2 h-11 rounded-md border-gray-300 shadow-md focus:bg-blue-100 focus:shadow-xl focus:outline-none ring-1 focus:ring-2 focus:border-blue-500 focus:ring-blue-500 sm:text-md">
      <option value="">Select City</option>
      <% cities.each do |city| %>
        <option value="<%= city %>"><%= city %></option>
      <% end %>
    </select>
  </div>
<% else %>
  <div>
    <label for="city_select" class="block text-md font-semibold text-indigo-600">
      City<span class="text-md text-red-600">*</span>
    </label>
    <select name="city" id="city_select" disabled 
           class="mt-1 block w-full px-2 py-2 h-11 rounded-md border-gray-300 shadow-md bg-gray-100 cursor-not-allowed sm:text-md">
      <option>No cities available</option>
    </select>
  </div>
<% end %>
